.navbar.navbar-default.navbar-fixed-top{role: "navigation"}
  .container
    .navbar-header
      %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", type: "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %img.img-responsive.logo{src: "http://placehold.it/182x40"}




    .collapse.navbar-collapse

      -if user_signed_in?
        %ul.nav.navbar-nav
          %li &nbsp; &nbsp;
          %li
            %a{href: root_url}Home
          %li.active
            %a{href: "#"}Mis Restaurantes
        %ul.nav.navbar-nav.navbar-right
          %li.dropdown{id:"fat-menu"}

            %a{href:"#",id:"drop3", role:"button", class:"dropdown-toggle","data-toggle"=>"dropdown"}
              =current_user.name
              %span.caret
            %ul.dropdown-menu{"aria-labelledby" => "drop3"}
              %li
                %a{tabindex:"-1", href: "#"} Action
              %hr
              %li
                =link_to "Cerrar Sesion" , destroy_user_session_path, :method => :delete
      -else
        %span.navbar-right
          =render "devise/sessions/new"

.container.center-block

  .body-list
    .row
      .col-md-7

        .restaurants
          .container-fluid.margen

            %table.table.table-responsive.table-hover
              %thead
                %th.left
                  %h2
                    Mis Restaurantes
              %tbody
                -if current_user.restaurants.empty?
                  %tr
                    %td Aun no ha registrado ningun restaurante
                -else
                  -current_user.restaurants.each do |restaurant|
                    %tr
                      %td
                        .row
                          .col-md-9
                            %h3
                              =link_to  "#{restaurant.name}","#{restaurant_profile_path(:restaurant =>restaurant.name)}"
                            %h4
                              Suscriptores(0) &nbsp
                              Recetas(0)

                          .col-md-3
                            %h3
                              %a{href: "restaurants/"+restaurant.name}
                                %img.img-responsive.center-vertical{src: "http://placehold.it/50x50"}


            %a.center{href: new_restaurant_path }
              %button.btn.btn-primary
                Nuevo Restaurante
                .glyphicon.glyphicon-plus


      .col-md-5
        %img.img-responsive.logo{src: "http://placehold.it/400x400"}
        %h3.text-center Selecciona un restaurante



