.navbar.navbar-default.navbar-fixed-top{role: "navigation"}
  .container
    .navbar-header
      %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", type: "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %img.img-responsive.logo{src: "http://placehold.it/182x40"}




    .collapse.navbar-collapse

      -if user_signed_in?
        %ul.nav.navbar-nav
          %li &nbsp; &nbsp;
          %li
            %a{href: root_url}Home
          %li
            %a{href: my_restaurants_path}Mis Restaurantes

        %ul.nav.navbar-nav.navbar-right
          %li.dropdown{id:"fat-menu"}

            %a{href:"#",id:"drop3", role:"button", class:"dropdown-toggle","data-toggle"=>"dropdown"}
              =current_user.name
              %span.caret
            %ul.dropdown-menu{"aria-labelledby" => "drop3"}
              %li
                %a{tabindex:"-1", href: "#"} Action
              %hr
              %li
                =link_to "Cerrar Sesion" , destroy_user_session_path, :method => :delete
        %ul.nav.navbar-nav.navbar-right
          %li.dropdown{id:"restaurant-menu"}

            %a{href:"#",id:"drop3", role:"button", class:"dropdown-toggle","data-toggle"=>"dropdown"}
              =@restaurant.name
              %span.caret
            %ul.dropdown-menu{"aria-labelledby" => "drop3"}
              %li
                %a{tabindex:"-1", href: "#"} Opciones Restaurante




      -else
        %span.navbar-right
          =render "devise/sessions/new"



    / /.navbar-collapse
/ Main jumbotron for a primary marketing message or call to action

.alert-container{id: "alerta-profile"}
  .empty-alert{id:"empty-alert"}
    -if flash[:notice]
      .alert-success.text-center
        =flash[:notice]

.container
  .container-fluid
    .row
      .col-md-3
        %br
        %br
        %br
        %br

        %ul.nav.nav-pills.nav-stacked.table-bordered
          %li.active
            %a.text-center{"data-toggle" => "tab",href:"#photos"}
              Fotos restaurante
              .glyphicon.glyphicon-user
          %li
            %a.text-center{"data-toggle" => "tab",href:"#info"}
              Datos restaurante
              .glyphicon.glyphicon-user
          %li
            %a.text-center{"data-toggle" => "tab",href:"#recetas"}
              Platos
              .glyphicon.glyphicon-list
          %li
            %a.text-center{"data-toggle" => "tab",href:"#followers"}
              Seguidores
              .glyphicon.glyphicon-heart
          %li
            %a.text-center{"data-toggle" => "tab",href:"#datos"}
              Estadisticas
              .glyphicon.glyphicon-list-alt

      .col-md-9
        .tab-content
          .tab-pane.fade.in.active{id:"photos"}
            =render "restaurant_photos/show"

          .tab-pane.fade{id:"info"}
            =render "restaurants/form_edit"

          .tab-pane.fade{id:"recetas"}
            .center-info
              .div{id:"show_plates"}
                =render "plates/list"





          .tab-pane.fade{id:"followers"}
            %h2.page-header
              ="#{@restaurant.name}: seguidores"
            %img.img-responsive.pull-right.thumbnail{src: "http://placehold.it/300x200", alt:"placeholder"}
          .tab-pane.fade{id:"datos"}
            %h2.page-header
              ="#{@restaurant.name}: estadisticas"
            %table.table.table-striped.table-bordered
              %thead
                %tr
                  %th Heading
                  %th Heading
                  %th Heading
                  %th Heading
                  %th Heading
              %tbody
                %tr
                  %th Info
                  %th Info
                  %th Info
                  %th Info
                  %th Info
                %tr
                  %th Info
                  %th Info
                  %th Info
                  %th Info
                  %th Info
                %tr
                  %th Info
                  %th Info
                  %th Info
                  %th Info
                  %th Info
                %tr
                  %th Info
                  %th Info
                  %th Info
                  %th Info
                  %th

%div.modal.fade{id: "deleteModal" , tabIndex: "-1", role: "dialog" , "aria-labelledby" => "myModalLabel",  "aria-hidden" => "true"}
  %h3 modal

%div.modal.fade{id: "plateModal" , tabIndex: "-1", role: "dialog" , "aria-labelledby" => "myModalLabel",  "aria-hidden" => "true"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} ×
        %h4.modal-title{id: "myModalLabel"} Nuevo plato
      .modal-body
        =render 'plates/form'




